@model TrainingPortal.Models.StudentLogin

@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_SignInSignUp.cshtml";
}


<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

<link href="~/Content/SignIn/SignInStyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
 @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "Log in was unsuccessful.")*@
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" onclick="hideSignUp()">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" onclick="tabSignUpButton">  <label for="tab-2" class="tab">Sign Up</label>


            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group" >

                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.StudentEmail, new { @class = "Home-control-label" })
                                    @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="group">

                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.StudentPassword, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.StudentPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StudentPassword, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>

                      
                    </div>

                    @*<div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check">

                            <span class="icon"></span>
                            
                            Keep me Signed in
                        </label>
                    </div>*@
                    
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.RememberMe)
                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    

                    <div class="group">
                        <input type="submit" class="button" style="background-color: red; border-radius: 5px; width: 900px" value="Sign In">
                        <span style="color: red;"> @ViewBag.Message</span>
                       
                   
                        </div>

                    <div class="hr"></div>

                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                    <div style="margin-top: 50px; text-align: center">
                        @Html.ActionLink("Signup?", "Signup")
                    </div>

                </div>





            </div>

            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@

        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>

}



@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
