@model TrainingPortal.Models.Student


@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Signout", "Account", FormMethod.Post, new { id = "signoutForm" }))
    {
        <a href="javascript:document.getElementById('signoutForm').submit()">Signout</a>
    }
}

<div class="container">
    <!--DASHBOARD-->
    <section class="dashboard " style="  margin: -27px -14.6%;
    width: 129.5%;
    height: auto;
    padding: 15px;
    background-color: #0d1218;
    box-shadow: 1px 3px 20px 5px #040cff1f;
    color: whitesmoke;">
        <div id="back"> </div>
        <h1>Welcome To EOH Academy</h1>
        <p>Lorem ipsum sir amet, his ad choro scaevola qualisque</p>

        <!-- Search form -->
        <form class="form-inline md-form form-sm mt-9" style="margin-left: 550px">
            <input class="form-control form-control-sm ml-3 w-55" type="text" placeholder="Search for courses" aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>

        <div class="row">

            <!--Calendar Section-->
            <div id="calender-section">

                <h2>Calendar</h2>

                <form id="form1">
                    <div>
                        @Html.TextBox("DatePicker", null, new { id = "txtStartDate", ClientIDMode = "Static" })
                    </div>
                </form>

            </div>

            <!--User Profile-->
            <div id="user-profile">

                <h2>User Profile</h2>
                <ul>
                    <li>

                        <div>
                            Name: @Html.DisplayFor(mode => mode.StudentFirstName)
                        </div>
                    </li>
                    <li>
                        Last Name: @Html.DisplayFor(model => model.StudentLastName)
                    </li>
                    <li>
                        Email: @Html.DisplayFor(model => model.StudentEmail)
                    </li>

                </ul>
            </div>

        </div>

        @Html.Action("_CourseGallery", "Portal")



    </section>
</div>


<!--Renders the Courses Page-->
@Html.Action("Courses")
